@model BudzetDomowy.Models.Account
@{
    ViewBag.Title = "Konto";
}

@if (Model == null || Session["login"] == null)
{
    @Html.Action("Index", "Login")
}

Zalogowałeś się na konto
@if (@Model.Mode.ToString() == "user")
{
    <span>użytkownika</span>
}
else
{
    <span>administratora</span>
}

Witaj @Model.Person.FirstName!

@Html.ActionLink("Wyloguj się!", "Logout", "Account")
